.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 15rem;
}

.footer ul {
  display: flex;
  margin-bottom: 2rem;
}

.footer {
  display: flex;
}

.footer li {
  margin-right: 20px;
}

.footer li:last-of-type {
  margin-right: 0;
}

@media (min-width: 576px) {
  .footer {
    margin: 5rem 0;
  }
}

@media (min-width: 992px) {
  .footer {
    margin-top: 15rem;
  }
}
