.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.footer ul {
  display: flex;
  margin-bottom: 1.5rem;
}

.footer li {
  margin-right: 1.5rem;
}

.footer li:last-of-type {
  margin-right: 0;
}
