:root {
  --black: #222;
  --blue: #759fbc;
  --darkblue: #1f5673;
  --green: #227044;
  --lightblue: #90c3c8;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  background-color: #222;
  color: white;
  font-family: 'Source Code Pro', monospace;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

a:visited {
  color: white;
}
