:root {
  --black: #222;
  --blue: #759fbc;
  --darkblue: #1f5673;
  --green: #227044;
  --lightblue: #90c3c8;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  color: white;
  font-family: 'Source Code Pro', monospace;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #222;
}

a,
a:visited {
  color: white;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-size: 1.5rem;
  margin: 2rem 0;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}
