.header {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.navigation {
  display: flex;
}

.navigation li {
  margin-right: 1.5rem;
}

.navigation li:last-of-type {
  margin-right: 0;
}
