.card {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 2rem 0;
}

.projectImage {
  object-fit: contain;
  width: 100%;
  margin-bottom: 1rem;
}

.heading {
  margin-bottom: 2rem;
}

.projectCardLinks {
  display: flex;
  flex-direction: column;
}

.marginRight4 {
  margin-bottom: 1rem;
}

@media (min-width: 992px) {
  .projectCardLinks {
    flex-direction: row;
  }

  .marginRight4 {
    margin-right: 2rem;
  }
}
